@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&family=Kodchasan:wght@400&family=Knewave&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kodchasan', sans-serif;
    background-image: url('laugh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-container {
    background-color: rgba(255, 153, 0, 0.9);
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    font-family: 'Knewave', cursive;
    font-size: 50px;
    color: #000080;
    text-shadow: 3px 3px 0px white;
    margin-bottom: 0.2em;
}

.header h2 {
    font-family: 'Knewave', cursive;
    font-size: 28px;
    color: white;
    text-shadow: 3px 4px 2px black;
    margin-bottom: 1em;
}
.excuse-h3{
    font-family: 'Kodchasan', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 1px 2px 5px black;
    margin-bottom: 1em;
}


.main-container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.body-container {
    background: rgba(135, 206, 235, 0.9);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 550px;
    position: relative;
}

.generate-form {
    display: flex;
    flex-direction: column;
}

.generate-form h3 {
    font-family: 'Kodchasan', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 1px 2px 5px black;
    margin-bottom: 1em;
}

.btn-primary, .btn-outline-primary {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}
.btn-primary, .btn-primary:link, .btn-primary:visited {
    background-color: #F8B803;
    border-color:#F8B803;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #9c6308;
}
.btn-outline-primary, .btn-outline-primary:link, .btn-outline-primary:visited {
    border: 2px solid #f8b803;
    color: #F8B803;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: rgb(248, 184, 3, .2);
    border: 2px solid #f8b803;
    color: #F8B803;
}

#gif-container img{
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}
#button-group{
    margin-bottom: 50px;
}
#developers {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 575.98px) {
    .main-container {
        width: 100%;
    }
    .excuse-h3{margin-top: 40px}
    
}